html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent !important;
}

#preview {
    width: 100vw;
    height: 100vh;

    position: relative;

    /* Obrigatório para as camadas funcionarem corretamente */
    background: transparent;
    border: none;

    /* Suavidade do design */
    border-radius: 0;
}

.particle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    animation: rise 3.5s linear forwards;
}

@keyframes rise {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-180px); opacity: 0; }
}
